/* NAV BAR */

/* nav {
    background-color: #787C53;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}


nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0; 
    transition: .25s ease-in-out;
}

.button-right {
    margin-left: auto;
} */


/* PAGE CONTENT */
/* 
h1 {
    padding-top: 5rem;
    padding-left: 5rem;
    margin: 2rem;
    font-size: 2rem;
}

h2 {
    padding-left: 8rem;
    margin: 2rem;
    font-size: 1.75rem;
} */

.explore-container {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .explore-item {
    width: 32%;
    padding-bottom: 18%; 
  }

.plant-img img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .explore-heading {
        padding-top: 8rem;
        padding-left: 4rem;
        margin: 2rem;
    }
    
    .explore-subheading {
        padding-left: 4rem;
        margin: 2rem;
    }

    .explore-container {
        padding: 6%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}