/* NAV BAR */

.nav-link {
    display: none;
}

.btn {
    display: none;
}



/* PAGE CONTENT */

.explore-heading {
    padding-top: 5rem;
    padding-left: 0;
    margin: 1rem;
    font-size: 1.25rem;
}

.explore-subheading {
    padding-left: 0;
    margin: 1rem;
    font-size: 1rem;
    overflow-wrap: break-word;
}

.explore-container {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .explore-item {
    width: 32%;
    padding-bottom: 18%;
  }

.plant-img img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
.nav-link {
    display: inline;
}

nav {
    background-color: #787C53;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}


nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0; 
    transition: .25s ease-in-out;
}

.button-right {
    margin-left: auto;
}

.explore-heading {
    padding-top: 8rem;
    padding-left: 4rem;
    margin: 2rem;
}
    
.explore-subheading {
    padding-left: 4rem;
    margin: 2rem;
}

.explore-container {
    padding: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
}