* {
  box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    background-color: #A0A66F;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #787C53;
}

.container {
    max-width: 960px;
    margin-right: auto;
    padding-left: 1rem;
}

ul, p {
    margin-top: 0;
    margin-bottom: 1rem;
}

nav ul {
    margin: 1rem;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0;
    transition: .25s ease-in-out;
}

button {
  float: right;
}

.quiz-container h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 40px;
}


.button-choice {
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  padding: 18px 40px;
  position: relative;
}

.button-choice:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.options {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
