/* General Formatting (shared across all pages) */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.btn-default{
    background-color: #595c3f;
    color:#FFF;
    border-color: #595c3f;
    margin-top: 2rem;
}

/* Nav bar styling */
nav {
    background-color: #787C53;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0;
    transition: .25s ease-in-out;
}

.button-right {
    margin-left: auto;
}

button {
    margin-right: .25rem;
}

/* home page */

#plant {
    max-width: 70px;
    max-height: 70px;
}

.home-body {
    margin-top: 0;
}

.home-body .container-fluid {
    color:#595c3f;
}

.home-body #backdrop-container {
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
}

.home-body #text-container {
    background-color: #F0F7F1;
    text-align: center;
    padding-top: 5rem;
}

.home-body #text-container h2 {
    margin-top: 2rem;
    font-weight:lighter;
}

.home-body #text-container :first-child {
    padding-bottom: 2rem;
    font-weight:bolder;
}

.home-body #text-container :nth-child(5) {
    padding-bottom: 1.5rem;
}

/* about page */

#about {
    padding-top: 2rem;
}

.contact-form {
    margin-left: 3.5rem;
    padding-top: 1rem;
}

.contact-form .form-item{
    margin: 1rem;
}

.about-body {
    background-color:#F0F7F1;
}

/* quiz page */

.quiz-body, .calendar-body, .calendar-event-body {
    background-color: #A0A66F;
}

.quiz-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }

  .quiz-contain {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 35px;
  }

  .quiz-contain a {
    color: #787C53 ;
    background-color: transparent;
    text-decoration: none;
  }

  .quiz-contain button {
    padding: 23px 29px;
    font-size: 20px;
  }

  /* quiz template page */

  .quiz-question-container {
    max-width: 960px;
    margin-right: auto;
    padding-left: 1rem;
}

  .quiz-question-container h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 40px;
  }

  .quiz-options {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .quiz-template-body {
    background-color: #F0F7F1;
  }

  /* Explore Page */

  .explore-body {
    background-color: #F0F7F1;
  }

  .explore-container {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .explore-item {
    width: 32%;
    padding-bottom: 2rem;
  }

.plant-img img {
    max-width: 100%;
    height: auto;
}

/* Calendar Page */
.month-name {
    text-align: center;
    padding-top: .5rem;
}
table {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 60rem;
    height: 45rem;
    border: 1px black solid;
    background-color: white;
}

td {
    border: 1px solid black;
    vertical-align: text-top;
    padding: .5rem;
}

th, td {
    text-align: center;
}

.new-event {
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 140px;
}

.button-text {
    position:fixed;
    bottom: 10px;
    right: 20px;
}

.water-text {
    background-color:  #A0A66F;
}

.soil, .fertilizer {
    background-color: #A98467;
}

/* Calendar Event */

.card-container {
    float: left;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 23%;
    left: 25%;
}

.card {
    background-color: #F0F7F1;
}

.card-title {
    text-align: center;
}

.card-nav:last-child {
    float: right;
    background: white;
}


@media (min-width: 768px) {
    .explore-heading {
        padding-top: 4rem;
        padding-left: 4rem;
        margin: 2rem;
    }

    .explore-subheading {
        padding-left: 4rem;
        margin: 2rem;
    }

    .explore-container {
        padding: 6%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    table {
        width: 60rem;
        height: 45rem;
    }

    th, td, .water-text, .soil, .fertilizer {
        font-size: 1rem;
    }

    .new-event {
        position: fixed;
        top: 190px;
        right: 170px;
        font-size: 2rem;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    .button-text {
        position: fixed;
        top: 200px;
        right: 50px;
        font-size: 1rem;
    }

    /* Plant Info Page */
    .plant-info-heading {
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }
    
    .plant-img img {
        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: 700px;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 3rem;
    }
    
    .care-info {
        margin: 1rem;
        padding: 3rem;
    }
}
