/* General Formatting (shared across all pages) */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

/* Nav bar styling */
nav {
    background-color: #787C53;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0; 
    transition: .25s ease-in-out;
}

.button-right {
    margin-left: auto;
}

button {
    margin-right: .25rem;
}

/* home page */

.home-body {
    margin-top: 0;
    margin-bottom: .5rem;
}

.home-body .container-fluid {
    color:#595c3f;
}

.home-body #backdrop-container {
    background-image: url('../img/bg-home.jpg');
    background-size: cover; 
}

.home-body #text-container {
    background-color: #F0F7F1;
    text-align: center;
    padding-top: 10rem;
}

.home-body #text-container h2 {
    margin-top: 2rem;
    font-weight:lighter;
}

.home-body #text-container :first-child {
    padding-bottom: 3rem;
    font-weight:bolder;
}

.home-body #text-container :nth-child(4) {
    padding-bottom: 2.5rem;
}

.home-body .btn-default{
    background-color: #595c3f; 
    color:#FFF;
    border-color: #595c3f;
}

/* about page */

#about {
    padding-top: 2rem;
}

/* quiz page */

.quiz-body, .calendar-body, .calendar-event-body {
    background-color: #A0A66F;
}

.quiz-body-container {
    max-width: 960px;
    margin-right: auto;
    padding-left: 1rem;
}

.quiz-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
  
  .quiz-button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 20px 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .quiz-contain {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  /* quiz template page */

  .quiz-body-container {
    max-width: 960px;
    margin-right: auto;
    padding-left: 1rem;
}

  .quiz-container h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;
  }
  
  .quiz-button-choice {
    background-color: white;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 18px 40px;
    position: relative;
  }
  
  .quiz-button-choice:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .quiz-options {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  

  /* Explore Page */

  .explore-container {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .explore-item {
    width: 32%;
    padding-bottom: 18%; 
  }

.plant-img img {
    max-width: 100%;
    height: auto;
}

/* Calendar Page */
.month-name {
    text-align: center;
    padding-top: .5rem;
}
table {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 60rem;
    height: 45rem;
    border: 1px black solid;
    background-color: white;
}

td {
    border: 1px solid black;
    vertical-align: text-top;
    padding: .5rem;
}

th, td {
    text-align: center;
}

.new-event {
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 140px;
}

.button-text {
    position:fixed;
    bottom: 10px;
    right: 20px;
}

.water-text {
    background-color:  #A0A66F;
}

.soil, .fertilizer {
    background-color: #A98467;
}

/* Calendar Event */
.card-container {
    float: left;
    width: 50%;
    padding: 10px 10px;
}

.card-title {
    text-align: center;
}

.card-nav:last-child {
    float: right;
    background: white;
}



@media (min-width: 768px) {
    .explore-heading {
        padding-top: 8rem;
        padding-left: 4rem;
        margin: 2rem;
    }
    
    .explore-subheading {
        padding-left: 4rem;
        margin: 2rem;
    }

    .explore-container {
        padding: 6%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}