/* shared elements across all pages */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

nav {
    background-color: #787C53;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0; 
    transition: .25s ease-in-out;
}

.button-right {
    margin-left: auto;
}

button {
    margin-right: .25rem;
}

/* home page */

.home-body {
    margin-top: 0;
    margin-bottom: .5rem;
}

.home-body .container-fluid {
    color:#595c3f;
}

.home-body #backdrop-container {
    background-image: url('../img/bg-home.jpg');
    background-size: cover; 
}

.home-body #text-container {
    background-color: #F0F7F1;
    text-align: center;
    padding-top: 10rem;
}

.home-body #text-container h2 {
    margin-top: 2rem;
    font-weight:lighter;
}

.home-body #text-container :first-child {
    padding-bottom: 3rem;
    font-weight:bolder;
}

.home-body #text-container :nth-child(4) {
    padding-bottom: 2.5rem;
}

.home-body .btn-default{
    background-color: #595c3f; 
    color:#FFF;
    border-color: #595c3f;
}

/* about page */

#about {
    padding-top: 2rem;
}

  