/* General Formatting (shared across all pages) */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.btn-default {
    background-color: #595c3f;
    color:#FFF;
    border-color: #595c3f;
    margin-top: 2rem;
}

/* Nav Bar Styling */

.color-Nav {
    background-color: #787C53;
    padding: 0.75rem;
}

.color-Nav .container {
    padding-left: 0rem;
    margin-left: 1.5rem;
}

nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0;
    transition: .25s ease-in-out;
}

/* Home Page */

.plant {
    max-width: 2rem;
    max-height: 2rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.home-body {
    margin-top: 0;
    height: 100vh;
}

#backdrop-container {
    display:none;
    height: 100vh;
}

.container-fluid {
    background-color: #F0F7F1;
    color:#595c3f;
    height: 100vh;
}

.container-fluid h1 {
    color:#595c3f;
}

.row :nth-child(2) {
    text-align: center;
}

.row :nth-child(2) h1 {
    margin-bottom: 4rem;
}

.row :nth-child(2) h2 {
    margin-top: 2.6rem;
    font-weight: lighter;
}

.row :nth-child(2) .btn-default {
    margin-top: 4.2rem;
}

.col .btn-light {
    background-color:#595c3f;
    color: #F0F7F1;
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 200;
}

.col .btn-light:hover{
    background-color:#A0A66F;
}

/* About Page */

.about-text {
    padding-top: 2rem;
    height: 100vh;
    font-size: 1.5rem;
}

.about-text h2 {
    padding-top: 4rem;
    font-weight: bold;
}

.about-body {
    background-color:#F0F7F1;
}

footer {
    color: white;
    background-color: #787C53;
    padding-left: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.contact-text {
    font-size: 1.25rem;
    padding-top: 1.25rem;
}

/* Quiz Page */

.quiz-body, .calendar-body, .calendar-event-body {
    background-color: #A0A66F;
    height: 100vh;
}

.quiz-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.quiz-template-body .btn-light {
    color: #595c3f;
} 

.quiz-contain {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 35px;
}

.quiz-contain .mobile-start {
    display: none;
}   

.quiz-contain .big-start {
    color: #595c3f;
    color: #787C53 ;
    background-color: transparent;
    text-decoration: none;
}

.quiz-contain button {
    padding: 15px 20px;
    font-size: 18px;
}

/* Quiz Template Page */

.quiz-question-container {
    max-width: 960px;
    margin-right: auto;
    padding-left: 1rem;
}

.quiz-question-container h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 40px;
    text-align: center;
}

.quiz-options {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quiz-template-body {
    background-color: #F0F7F1;
}

/* Quiz Result Page */

.result-container {
    text-align: center;
    max-width: 45%;
}

.plant-picture img {
    text-align: center;
    max-width: 45%;
    margin-top: 350px;
    margin-left: 570px;
}

/* Explore Page */

.explore-heading {
    font-size: 3em;
}

.explore-body {
    background-color: #F0F7F1;
}

.explore-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    gap: 2rem;
}

.explore-item {
    width: 32%;     
}

.explore-item img {
    max-width: auto;
}

.explore-item h3 {
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    text-align: center;
}

cite {
    font-size: x-small;
    padding-left: 4rem;
}

.search-bar {
    margin-left: 6rem;
    font-size: 1.5rem;
    align-self: center;
}

.explore-body {
    padding: 3rem;
}

/* Calendar Page */

.month-name {
    text-align: center;
    padding-top: .5rem;
}
table {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 40rem;
    height: 20rem;
    border: 1px black solid;
    background-color: white;
}

td {
    border: 1px solid black;
    vertical-align: text-top;
    padding: .5rem;
}

th, td {
    text-align: center;
}

.new-event {
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    right: 120px;
}

.button-text {
    position: absolute;
    bottom: -45px;
    right: 5px;
}


th, td, .water-text, .soil, .fertilizer {
    font-size: .8rem;
}

.water-text {
    background-color:  #A0A66F;
}

.soil, .fertilizer {
    background-color: #A98467;
}

/* Calendar Event */

.calendar-Event  {
    display: none;
}

.add-event:visited ~ .calendar-Event {
    display: inline-block;
}

.card-container {
    float: left;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 23%;
    left: 25%;
}

.card {
    background-color: #F0F7F1;
}

.card-title {
    text-align: center;
}

.card-nav:last-child {
    float: right;
    background: white;
}

.form-title {
    text-align: center;
}

.card-container .form-item {
    padding-bottom: 10px;
}

.form-btn:hover {
    background-color: #A9A9A9;
}

@media (min-width: 320px) {

    /* Quiz Result Page */

    .plant-picture img {
        display: none;
    }

    /* Quiz Page */

    .quiz-contain {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 20px 35px;
  } 

  .quiz-contain button {
      padding: 10px 15px;
      font-size: 15px;
  }
}

@media (min-width: 768px) {

    /* Home Page */

    #backdrop-container {
        background-image: url('../public/img/bg-image.jpg');
        background-size: cover;
        display: flex;
    }

    /* Explore Page */

    .explore-heading {
        padding-top: 4rem;
        padding-left: 4rem;
        margin: 2rem;
    }

    .explore-subheading {
        padding-left: 4rem;
        margin: 2rem;
    }

    .explore-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .search-bar {
        padding-right: 10rem;
    }

    /* Calendar Page */

    table {
        width: 60rem;
        height: 45rem;
    }

    th, td, .water-text, .soil, .fertilizer {
        font-size: 1rem;
    }

    .new-event {
        bottom: -115px;
        right: 130px;
    }
    
    .button-text {
        position: absolute;
        bottom: -120px;
        right: 10px;
    }

    /* Plant Info Page */

    .plant-info-heading {
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }
    
    .plant-img img {
        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: 700px;
        margin-left: 1rem;
        margin-right: 1rem;
        /* padding: 1.5rem; */
    }
    
    .care-info {
        margin: 1rem;
        padding: 3rem;
    }
}

@media (min-width: 1200px) {

    /* Explore Page */
    
    .search-bar {
        padding-right: 28rem;
    }

    /*Home Page

    .plant {
        max-width: 4rem;
        max-height: 4rem;
        margin-top: 8.2rem;
        margin-bottom: 1.5rem;
    }

    .col .btn-light {
        font-size: 2rem;
    }

    .col .btn-light:last-child {
        margin-left: 1rem;
    }

    .row :nth-child(2) h1 {
        font-size: 3rem;
    }

    .row :nth-child(2) h2 {
        font-size: 2rem;
        margin-top: 6rem;
    } */
} 
