/* General Formatting (shared across all pages) */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.btn-default {
    background-color: #595c3f;
    color:#FFF;
    border-color: #595c3f;
    margin-top: 2rem;
}

/* Nav Bar Styling */

.color-Nav {
    background-color: #787C53;
    padding: 0.75rem;
}

.color-Nav .container {
    padding-left: 0rem;
    margin-left: 1.5rem;
}

nav a:hover {
    color: #f0f0f0;
    border-bottom: .2rem dotted #f0f0f0;
    transition: .25s ease-in-out;
}

/* Home Page */

.plant {
    max-width: 2rem;
    max-height: 2rem;
    margin-bottom: 1rem;
}

.right-col-container {
    text-align: center;
    padding: 50px 0;
}

.right-col-container h1 {
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
}

.right-col-container h2 {
    margin-top: 2rem;
    font-weight: lighter;
}

.home-body {
    margin-top: 0;
    height: 100vh;
}

#backdrop-container {
    display:none;
    height: 100vh;
}

.container-fluid {
    background-color: #F0F7F1;
    color:#595c3f;
    height: 100vh;
}

.container-fluid h1 {
    color:#595c3f;
}

.container-fluid h2 {
    font-size: 0.95rem;
}

.col .btn-light {
    background-color:#595c3f;
    color: #F0F7F1;
    margin-top: 2.2rem;
    font-weight: 200;
}

.col .btn-light:hover{
    background-color:#A0A66F;
}

/* About Page */

.about-text {
    padding-top: 2rem;
    height: 100vh;
    font-size: 1.2rem;
}

.about-text h2 {
    padding-top: 4rem;
    font-weight: bold;
}

.about-body {
    background-color:#F0F7F1;
}

footer {
    color: white;
    background-color: #787C53;
    padding-left: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.contact-text {
    font-size: 1.25rem;
    padding-top: 1.25rem;
}

/* Quiz Page */

.quiz-body, .calendar-body, .calendar-event-body {
    background-color: #A0A66F;
    height: 100vh;
}

.quiz-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.quiz-template-body .btn-light {
    color: #595c3f;
} 

.quiz-contain {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 35px;
}

.quiz-contain .mobile-start {
    display: none;
}   

.quiz-contain .big-start {
    color: #595c3f;
    color: #787C53 ;
    background-color: transparent;
    text-decoration: none;
}

.quiz-contain button {
    padding: 15px 20px;
    font-size: 18px;
}

/* Quiz Template Page */

.quiz-question-container {
    max-width: 960px;
    margin-right: auto;
    padding-left: 1rem;
}

.quiz-question-container h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 40px;
    text-align: center;
}

.quiz-options {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quiz-template-body {
    background-color: #F0F7F1;
}

/* Quiz Result Page */

.result-container {
    text-align: center;
    max-width: 45%;
}

.plant-picture img {
    text-align: center;
    max-width: 45%;
    margin-top: 350px;
    margin-left: 570px;
}

/* Explore Page */

.explore-heading {
    font-size: 2rem;
}

.explore-subheading {
    font-size: 1rem;
}

.explore-body {
    background-color: #F0F7F1;
}

.explore-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    gap: 2rem;
}

.explore-item img {
    width: 10rem;
    height: 10rem;
}

.explore-item h3 {
    font-size: 1.5rem;
    padding-top: 1.8rem;
    text-align: center;
}

cite {
    font-size: x-small;
    padding-left: 4rem;
}

.search-bar {
    font-size: 1.5rem;
    align-self: center;
}

.explore-body {
    padding: 4rem;
}

.form-select {
    margin-top: 2rem;
    margin-right: 2rem;
}

.btn-secondary {
    margin-top: 2rem;
}

.mb-3 .col-auto {
    display: flex;
    justify-content: space-between;
}

/* Calendar Page */

.month-name {
    text-align: center;
    padding-top: .5rem;
}
table {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 40rem;
    height: 20rem;
    border: 1px black solid;
    background-color: white;
}

td {
    border: 1px solid black;
    vertical-align: text-top;
    padding: .5rem;
}

th, td {
    text-align: center;
}

.new-event {
    text-align: center;
    font-size: 2rem;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    right: 120px;
}

.new-event:hover {
    background-color: #757575;
}

.button-text {
    position: absolute;
    bottom: -50px;
    right: 3px;
}


th, td, .water-text, .soil, .fertilizer {
    font-size: .8rem;
}

.water-text {
    background-color:  #A0A66F;
}

.soil, .fertilizer {
    background-color: #A98467;
}

/* Calendar Event */

.modal {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
}

.modal-header {
    padding-top: 10px;
    position: fixed;
    top: 220px;
}

.modal-header button {
    float: right;
}

.modal-body {
    padding: 10px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.add-event:visited ~ .calendar-Event {
    display: inline-block;
}

.form-title {
    margin: 0;
    padding: 0.75rem;
}

.card-container .form-item {
    padding-bottom: 0.5rem;
}

.card-container {
    background-color: #787C53;
}

.form-item {
    padding-bottom: 0.75rem;
}

/* .popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 550px;
    height: 275px;
    z-index: 2;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #787C53;
}

.popup .close-btn {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
} */

.modal .close-btn:hover {
    color: rgb(143, 0, 0)
}

.form-btn-type button:hover {
    background-color: #9c9898;
}

.form-btn-type button:last-child {
    margin-left: 1rem;
}


@media (min-width: 320px) {

    /* Quiz Result Page */

    .plant-picture img {
        display: none;
    }

    /* Quiz Page */

    .quiz-contain {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 20px 35px;
    } 

    .quiz-contain button {
      padding: 10px 15px;
      font-size: 15px;
    }

    .new-event {
        bottom: -160px;
        right: -180px;
    }

    .button-text {
        position: absolute;
        bottom: -169px;
        right: -300px;
    }
}

@media (min-width: 768px) {

    /* Home Page */

    #backdrop-container {
        background-image: url('../public/img/bg-image.jpg');
        background-size: cover;
        display: flex;
    }

    /* Explore Page */

    .explore-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .search-bar {
        padding-right: 10rem;
    }

    .explore-item {
        width: 26%;     
    }

    /* Calendar Page */

    table {
        width: 60rem;
        height: 45rem;
    }

    th, td, .water-text, .soil, .fertilizer {
        font-size: 1rem;
    }

    .new-event {
        bottom: -270px;
        right: 75px;
    }
    
    .button-text {
        position: absolute;
        bottom: -280px;
        right: -50px;
    }


    /* Plant Info Page */

    .plant-info-heading {
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }
    
    .plant-img img {
        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: 700px;
        margin-left: 1rem;
        margin-right: 1rem;
        /* padding: 1.5rem; */
    }
    
    .care-info {
        margin: 1rem;
        padding: 3rem;
    }
}

@media (min-width: 960px) {
    /* Calendar Page */
    .new-event {
        bottom: -305px;
        right: 130px;
    }
    
    .button-text {
        position: absolute;
        bottom: -315px;
        right: 10px;
    }

}

@media (min-width: 1200px) {

    /* Explore Page */
    
    .search-bar {
        padding-right: 28rem;
    }
    .explore-heading {
        font-size: 2.4rem;
    }
    
    .explore-subheading {
        font-size: 1.5rem;
    }

    /* Home Page */

    .plant {
        max-width: 3.2rem;
        max-height: 3.2rem;
        margin-bottom: 1.5rem;
    }

    .col .btn-light {
        font-size: 1.4rem;
    }

    .col .btn-light:last-child {
        margin-left: 1rem;
    }

    .right-col-container h1 {
        font-size: 2.4rem;
    }

    .right-col-container h2 {
        font-size: 1.5rem;
        margin-top: 3rem;
    } 
} 
